<nav aria-label="Navigation">
  <a href="{{ .Site.BaseURL }}" class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
        <div class="logo">
          <img style="background: none; border-radius: unset" src="{{ $.Site.BaseURL }}{{ . }}">
        </div>
      {{ end }}
      <div class="name" style="font-size: 2em">
        <strong>{{ .Site.Title }} </strong>
      </div>
      <!-- <div class="name">
        <strong>{{ .Site.Title }} {{ with .Site.Params.version }}<span class="version">{{ . }}</span>{{ end }}</strong>
        {{ with .Scratch.Get "repo_id" }}
          <br>
          {{ . }}
        {{ end }}
      </div> -->
    </div>
  </a>

  <div class="scrollable">

    <div class="wrapper">
      {{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
        
        <!-- <h r> -->
      {{ end }}

      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}

        <!-- {{ if isset .Site.Params "author" }}
        <hr>
        <span class="section">The author</span>
        
        <ul>
          {{ with .Site.Social.twitter }}
          <li>
            <a href="https://twitter.com/{{ . }}" target="_blank" title="@{{ . }} on Twitter">
              @{{ . }} on Twitter
            </a>
          </li>
          {{ end }}

          {{ with .Site.Social.github }}
          <li>
            <a href="https://github.com/{{ . }}" target="_blank" title="@{{ . }} on GitHub">
              @{{ . }} on GitHub
            </a>
          </li>
          {{ end }}

          {{ with .Site.Social.email }}
          <li>
            <a href="mailto:{{ . }}" title="Email of {{ . }}">
              Contact via email
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }} -->
        
      </div>
      <br>
      <ul class="repo">
          <!-- <li >
            <a href="{{ .Site.Params.repo_url }}/" target="_blank" title="Contribute" data-action="contribute">
              <i class="icon icon-face"></i> Contribute
            </a>
          </li> -->
          <li class="repo-stars">
            <a style="padding-left: -10em; background: #444" href="{{ .Site.Params.repo_url }}/stargazers" target="_blank" title="Stargazers" data-action="star">
              <i class="icon icon-github"></i> Stars
              <span class="count">&ndash;</span>
            </a>
          </li>
        </ul>
        <div  style="text-align: center">
        <a style="background: none" target="_blank" href="https://creativecommons.org/licenses/by-nc/3.0/">
          <img style="max-width: 35%" src="{{ $.Site.BaseURL }}/images/creative-commons.svg">
        </a>
      </div>
  

    </div>
   
  </div>
</nav>
